//========================= CONTAINER =========================//

._container {
    max-width: rem(1087);
    padding: 0px rem(15);
    margin: 0px auto;
}

//========================= BUTTON =========================//

.button {
    display: inline-block;
    font-family: $raleway;
    font-weight: $extraBold;
    font-size: rem(10);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
    color: $almostWhite;
    padding: rem(14) rem(30);
    border-radius: 5px;
    background-color: $almostRed;
    transition: background-color 0.3s ease 0s;

    &:hover {
        background-color: $almostRed2;
    }
}

//========================= BLOCK-TEXT =========================//

.block-text {

    // .block-text_center
    &_center {
        text-align: center;
    }

    // .block-text__title
    &__title {
        font-size: rem(44);
        font-weight: $bold;
        line-height: 1.26;
        color: $black;

        span {
            color: $almostRed;
        }

        &:not(:last-child) {
            margin: rem(0) rem(0) rem(12) rem(0);
        }

        // .block-text__title_blue
        &_blue {
            span {
                color: $almostBlue;
            }
        }

    }

    // .block-text__text
    &__text {
        line-height: 1.38;

        &:not(:last-child) {
            margin: rem(0) rem(0) rem(24) rem(0);
        }

        // .block-text__text_mw
        &_mw{
            max-width: rem(620);
            margin: 0 auto;
        }
    }

    // .block-text__button
    &__button {
    }
}

//========================= BLOCK-TEXT (BREAKPOINTS) =========================//


@media (max-width: $mobileLarge){
    .block-text__title {
        font-size: rem(34);
    }
}