//========================= FOOTER =========================//

.footer {
    padding: rem(45) rem(0);

    // .footer__container
    &__container {
    }

    // .footer__items
    &__items {
        display: flex;
        column-gap: rem(50);
        row-gap: rem(20);
        justify-content: center;
        align-items: center;
    }

    // .footer__item
    &__item {
    }
}

//========================= FOOTER (BREAKPOINTS) =========================//

@media (max-width: rem(500)){
.footer{
    padding: rem(30) rem(0);
}

.footer__items{
    flex-direction: column;
}
}