.footer {
    padding: rem(45) rem(0);

    &__items {
        display: flex;
        column-gap: rem(50);
        row-gap: rem(20);
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: rem(500)){
.footer{
    padding: rem(30) rem(0);
}

.footer__items{
    flex-direction: column;
}
}